<div id="contactform">
  <img title="Send us an email!" alt="contact banner" src="/images/DearMax-Banner-600x300.png" />

  <form class="contact" action="https://getform.io/f/{{ page.getform }}" method="POST">
    <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />
    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstname">
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname">
    <label for="email">Email *</label>
    <input required type="email" id="email" name="email">
    <div id="message">
      <label for="message">Message *
      </label>
      <span id="counter">0/1000</span>
      <textarea onkeyup="javascript:updatecounter(this)" maxlength="1000" rows="8" id="message" name="message"></textarea>
    </div>
    <div class="formoptions">
      <input type="checkbox" id="subscribe" name="subscribe" checked>
      <label for="subscribe">Subscribe to our newsletter</label>
    </div>
    <center>
      <button type="submit">Send</button>
    </center>
  </form>
</div>

<script>
window.onload = () => {
  setupMessageCounter();
}
</script>

{%- include recaptcha.html -%}
