$buttonColor: #64212a;

.button-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;

  a {
    display: block;
    background-color: $buttonColor;
    color: white;
    border: solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;

    &:focus, &:active, &:hover {
      opacity: 80%;
      outline-style: dashed;
      outline-offset: 2px;
      outline-width: 2px;
      outline-color: $buttonColor;
      text-decoration: none;
    }
  }
}

.image-buttons a {
  background-size: contain;
  background-image: url(/images/button-bg-1-200x100.png);
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 100px;
  text-align: center;
  span {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); // vertically center text
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.logo-buttons a {
  width: 100px;
  img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
}

@include media-query($on-palm) {
  .button-wrapper {
    flex-flow: column;
  }
}
