$itemcolor: rgb(0,124,137);
$textcolor: rgb(36, 28, 21);

#contactform {
  * {
    box-sizing: border-box;
  }

  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: $textcolor;

  img {
    width: 300px;
    height: 150px;
  }
  label {
    display: block;
    font-weight: 500;
    margin: 20px 0 2px 0;
    color: inherit;
  }
  .validation {
    display: none;
    color: red;
    background: pink;
    border-style: dashed;
    border-width: 1px;
    padding: 2px;
    font-style: italic;
  }

  input {
    display: inline-block;
    width: 100%;
    padding: 4px 16px;
    margin: 4px 0;
    color: inherit;
    font: inherit;
    border-radius: 0;

    &:invalid:not(:focus):not(:placeholder-shown) ~ .validation {
      display: block;
    }
  }

  #preamble {
    color: red;
    font-style: italic;
    display: inline-block;
  }

  div#message {
    position: relative;
    margin-top: 24px;

    label {
      display: inline-block;
      margin: 0;
      margin-bottom: 6px;
      position: relative;
      left: 0;

    }
    #counter {
        font-size: 14px;
        font-weight: 400;
        color: #aaa;
        float: right;
        visibility: hidden;
        position: relative;
        right: 0;
    }
  }
  h3 {
    margin: 20px 0 6px 0;
  }
  .formoptions {
    margin-top: 12px;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-auto-flow: dense;
    input[type="checkbox"], input[type="radio"] {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0;
      position: relative;
      top: 4px;
    }
    label {
      display: block;
      max-width: 70%;
      font-weight: 400;
      margin: 0;
    }
    input#pledgeamt {
      display: inline !important;
      max-width: 5em;
      padding: 0 4px;
    }

  }

  button {
    background: $itemcolor;
    color: white;
    padding: 10px 24px;
    display: block;
    margin-top: 24px;
    font-weight: bold;
    font-size: large;
  }
  textarea {
    resize: none;
    font: inherit;
    width: 100%;
    display: block;
    padding: 10px 16px;
  }
  input:focus,textarea:focus,button:focus {
    outline: 2px solid $itemcolor;
    outline-offset: 1px;
    box-shadow: inset -2px 0 transparent;
  }

  input#city {
    width: 50%;
  }
  input#state {
    max-width: 5em;
  }
  input#zipcode {
    max-width: 6em;
  }
}
