.editions-list {
  width: 80%;
  margin: 0 auto 0.5in;
  display: none;
  &.ready {
    display: table;
  }

  &:nth-child(odd) {
    background: #ddd;
  }

  td:nth-child(even) {
    font-style: italic;
    font-size: 90%;
  }

  td {
    padding: 10px;
  }

  .loading {
    font-style: italic;
    color: #888;
  }
}

.edition-wrapper {
  position: relative;

  .spinner {
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
  }

  &.ready .spinner {
    display: none;
  }

  .view-window {
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
    text-align: center;
  }

  &.ready .view-window {
    visibility: visible;
    opacity: 1;
  }

  .page-pair {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.25in;

    .preview-page {
      width: 350px;
      height: 453px;
      border: thin solid black;
      box-shadow: 2px 2px 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .cover-page {
      font-size: 10px;
      padding: 10px;
    }

    .sheet-preview {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .feature-list {
    text-align: left;
  }

  .button {
    display: inline-block;
    padding: 10px;
    background: #ddd;
    border-radius: 4px;
    margin-top: 1em;
    border: 2px outset #888;
    text-align: center;
    box-shadow: 2px 2px 2px #888;
    margin: 0 auto;

    &:hover {
      text-decoration: none;
      background: #dcc;
    }
  }
}

img.download-button {
  height: 20px;
  width: 20px;
}

.break-after {
  page-break-after: always;
  break-after: page;
}

.print-page {
  font-size: 24px;
  padding: 0.375in;
  width: 7.75in; // subtract margin*2
  height: 10.25in; // subtract margin*2
  overflow: hidden;
}

.cover-page {
  font-family: "Times New Roman", "Noto Serif", "Noto Music";
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  span.accidental {
    vertical-align: super;
  }

  .head {
    font-size: 90%;
    letter-spacing: 1.25px;
    text-align: center;
  }

  .title {
    margin-top: 1.5em;
    font-size: 200%;
    font-weight: 700;
    text-align: center;
  }

  .blurb,
  .version {
    font-style: italic;
    text-align: center;
  }

  .blurb {
    font-size: 0.85em;
    font-style: italic;
    text-align: left;
    padding: 2em 3em 0 3em;
  }

  .author {
    font-size: 180%;
    text-align: center;
  }

  .edited {
    font-size: 120%;
    text-align: center;
  }

  .page-break {
    width: 50%;
    margin-top: auto;
    margin-bottom: 1in;
    display: block;
  }

  .texts {
    margin-top: 0.5in;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .pronunciation {
    display: none; // hide for now
    width: 100%;
    font-size: 0.6em;
  }

  .transliteration {
    font-size: 0.65em;
    text-align: left;
    margin-right: 0.5in;
  }

  .hebrew {
    direction: rtl;
    text-align: right;
    font-size: 0.9em;
  }

  .translation {
    font-size: 0.85em;
    margin-top: 0.5in;
    width: 100%;
  }

  .translation_credit {
    width: 100%;
    font-style: italic;
    margin-top: auto;
    margin-left: 0;
    font-size: 0.65em;
    font-style: italic;
    text-align: left;
  }

  .footer {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    p {
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: 0.6em;
    }

    .qr-code {
      height: 3.6em;
      width: 3.6em;
    }
  }
}

@page {
  size: letter;
}
@media screen {
  body.has(.cover-page) {
    width: 8.5in;
  }
}
