body {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.home_img {
  float: right;
  padding: 5px 0 0 16px;
  max-width: 40%;

  p {
    margin: 0;
    padding: 0;
  }
}

.footer-col-wrapper {
  font-size: 12px !important;
}

a,
a:visited {
  font-weight: bold;
  color: $brand-color;
}

a:hover {
  color: lighten($brand-color,20%);
}
// navbar customization
.site-header {
  font-family: Roboto;

  .page-link {
    padding: 5px 10px;

    &:not(:last-child) {
      margin-right: 0;
    }

    &:focus,
    &:hover {
      background: #eee;
      text-decoration: none;
    }

    &:nth-child(3) {
      color: $brand-color;
    }

    &.current {
      background: #844;
      color: white;
    }
  }
}

.announcements {
  p {
    margin-left: 32px;
  }
}

.donate  {
  form {
    display: inline-block;
    margin-left: .25in;  
    vertical-align: top;
  }
}
