.home_img {
  float: right;
  padding: 5px 0 0 16px;
  max-width: 40%;

  p {
    margin: 0;
    padding: 0;
  }
}

.footer-col-wrapper {
  font-size: 12px !important;
}

a,a:visited {
  font-weight: bold;
  color: $brand-color;
}

a:hover {
  color: lighten($brand-color,20%);
}

// navbar customization
.site-nav {
  .page-link {
    padding: 8px 5px;

    &:hover,&:focus {
      background: #eee;
      text-decoration: none;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:nth-child(3) {
      color: $brand-color;
    }
    &.current {
      background: #844;
      color: white;
    }
  }
}

.announcements {
  p {
    margin-left: 32px;
  }
}
