---
---
#pageselect {
  border-bottom: 2px dashed blue;
  padding: 3em;
  font-size: 12px;

  h2 {
    margin: 0;
    padding: 0;
  }

  #dragdrop {
    margin: .25in;
    padding: .25in;
    display: inline-block;
    width: 2in;
    height: .5in;
    background: #844;
    color: white;
    font-weight: bold;
  }

  #select-version {
    display: inline;
    width: 3in;
    font-size: 9px;
    visibility: hidden;
    &.ready {
      visibility: visible;
    }
  }

  #errormsg {
    visibility: hidden;
    color: red;
    font-weight: bold;
    &.active {
      visibility: visible;
    }
  }
}

#pages {
  visibility: hidden;
  &.ready {
    visibility: visible;
  }
}

@media print {
  @page { 
    margin: 0;
    size: 8.5in 11in;
  }
  #pageselect {
    display: none !important;
  }
}
